.reveal section img {
  border: 0;
  box-shadow: none;
  background: none;
}

img[alt=SpringLogo]{
    height: 100px;
}

img[alt=KotlinLogo]{
    height: 100px;
}

img[alt=SpringEco]{
    height: 400px;
}