.reveal section img {
  border: 0;
  box-shadow: none;
  background: none;
}

img[alt=SpringLogo]{
    height: 100px;
}

img[alt=KotlinLogo]{
    height: 100px;
}

img[alt=SpringEco]{
    height: 400px;
}

img[alt=NewProjectLogo]{
    height: 200px;
}

.reveal pre code {
  font-size: 1.3em;
  line-height: 1.2;
}

.reveal pre {
  width: 120%;
  margin-left: -10%;
}